.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control-underlined {
  border-width: 0 !important;
  border-bottom-width: 1px !important;
  border-radius: 0 !important;
  padding-left: 0;
}

.form-control:focus {
  box-shadow: none !important;
}

.search-input {
  border-right-width: 0 !important;
}

.input-group-text {
  background-color: transparent !important;
  border-width: 0;
}

.table th,
.table td {
  font-size: 0.8rem !important;
}

.table td.long-text {
  max-width: 177px;
}

.table td.long-text span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.nav-pills .nav-link:not(.active) {
  background-color: transparent;
  color: black;
}

.nav-pills .pill-1 .nav-link.active {
  background-color: #e6ffee !important;
  color: #17ad49 !important;
}

.pill-2 .badge.bg-new {
  background-color: #ff7f00 !important;
  color: white;
}
